body{
    background-color: bisque;
}
h1{
    background-color: sandybrown;
}
h2{
    /* text-align: left;
    padding-left: 290px;
    text-align-last: justify; */
    text-align: center;
}
.deskripsi{
    padding-left: 20px;
    text-align-last: center;
}
p{
    text-align: center;
}
